<div class="cliente cliente-list-item">
    <div class="cliente-nome-container">
        <h2 class="cliente-caixa">
            <table class="table-list-cliente">

                <tr>
                    <td>
                        {{ cliente.nome }}
                    </td>
                    <td>
                        {{ cliente.cpf }}
                    </td>
                    <td>
                        {{ cliente.email }}
                    </td>
                    <td>
                        <button class="ver-cliente">Ver Cliente</button>
                    </td>

                </tr>

            </table>

        </h2>
    </div>

</div>